
/*************************************************
*  Image alignment
**************************************************/
.alignleft {
    max-width: 48%;
    float: left;
  }

.alignright {
    max-width: 48%;
    float: right;
  }

  .row {
    display: flex;
  }
  
  .column_2 {
    flex: 49%;
    padding: 5px;
  }

.column_3 {
    flex: 33%;
    padding: 5px;
  }